# SECTION 1: VARIABLES (10 Questions)

In [1]:
#Create three variables name, age, is_student
#      and assign appropriate values. Print all in one line.
name= 'Nikhil'
age=21
is_student='No'
print(name ,age, is_student)

Nikhil 21 No

In [2]:
#Swap values of two variables
#    a = 10 and b = 20 without using a third variable.
a=10
b=20
a,b=b,a
print(a,b)

20 10

In [4]:
#Assign the same value 100 to three variables x, y, z in one line.
x=y=z=100
x,y,z=100,100,100
print(x , y, z)

100 100 100

In [11]:
from typing_extensions import Concatenate
#Store your first name and last name in separate variables and print full name.
fname='Nikhil'
lname='Patidar'
name=fname+' '+lname
print(name)

namee=" ".join([fname,lname])
print(namee)

name = f"{fname} {lname}"
print(name)

Nikhil Patidar
Nikhil Patidar
Nikhil Patidar

In [12]:
#Create variable pi with value 3.14 and convert it to integer.
pi=3.14
pi=int(pi)
print(pi)

3

In [14]:
#Create a variable and delete it. Try printing after deletion.
num=34367
del(num)
print(num)

NameError: name 'num' is not defined

In [15]:
#Assign integer value to a variable and later change it to string. Print both times.
num=69
nums=str(num)
print(num,nums)

69 69

In [16]:
#Create variable with name _price and assign 500.
_price=500
print(_price)

500

In [18]:
#Check whether variable names 1num, num1, _num, num_one are valid.
1num=11
num1=12
_num=13
num_one=14
print(1num,num1,_num,num_one)

SyntaxError: invalid decimal literal (ipython-input-18-3348625935.py, line 2)

In [19]:
#Store result of (10+5)*2 in a variable and print it.
result=(10+5)*2
print(result)

30

#ðŸ”¹ SECTION 2: DATA TYPES (10 Questions)

In [25]:
#Identify data type of:
a = 10
b = 10.5
c = "10"
d = True
e = [1,2,3]

print("a:",type(a) )
print("b:",type(b))
print("c:",type(c))
print("d:",type(d))
print("e:",type(e))

a: <class 'int'>
b: <class 'float'>
c: <class 'str'>
d: <class 'bool'>
e: <class 'list'>

In [28]:
#Create one example of each:
#int, float, string, boolean, list, tuple,set, dictionary

num=23
num1=23.3
num2='23'
num4=True
num5=[1,2,3]
num6=(1,2,3)
num7={1,2,3}
num8={'a':1,'b':2,'c':3}
print(num,num1,num2,num4,num5,num6,num7,num8)

23 23.3 23 True [1, 2, 3] (1, 2, 3) {1, 2, 3} {'a': 1, 'b': 2, 'c': 3}

In [29]:
#Check type of variable using Python.
print(type(num),type(num1),type(num2),type(num4),type(num5),type(num6),type(num7),type(num8))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'> <class 'list'> <class 'tuple'> <class 'set'> <class 'dict'>

In [30]:
#Create a variable storing your phone number. Check its datatype.mob
mob_number=7759516572
print(type(mob_number))

<class 'int'>

In [31]:
#Convert integer 50 into float.
num=50
float(num)

50.0

In [32]:
#Convert float 99.99 into integer.
num=99.99
int(num)

99

In [34]:
#Convert string "123" into integer.
num='123'
int(num)

123

In [36]:
#Convert integer 100 into string.
num=100
str(num)

'100'

In [37]:
num=89
print(type(num))
nums=float(num)
print(type(nums))

<class 'int'>
<class 'float'>

In [38]:
#Can "10.5" be converted to int directly? Try.
int(10.5)

10

#ðŸ”¹ SECTION 3: TYPE CASTING (10 Questions)

In [40]:
#Convert list [1,2,3] into tuple.
li=[1,2,3]
tu=tuple(li)
print(tu)

(1, 2, 3)

In [41]:
#Convert tuple (10,20,30) into list.
tu=(10,20,30)
li=list(tu)
print(li)

[10, 20, 30]

In [42]:
#Convert string "python" into list.
st='python'
li=list(st)
print(li)

['p', 'y', 't', 'h', 'o', 'n']

In [43]:
#Convert list [1,1,2,2,3] into set.
li=[1,1,2,2,3]
se=set(li)
print(se)

{1, 2, 3}

In [45]:
#Convert set {5,6,7} into list.
se={5,6,7}
li=list(se)
print(li)

[5, 6, 7]

In [47]:
#Convert integer 65 into float then into string.
num=65
num1=float(num)
num2=str(num1)
print(num,num1,num2)

65 65.0 65.0

In [48]:
#Convert boolean True into int.
bo=True
num=int(bo)
print(num)

1

In [49]:
#Convert int 0 into boolean.
num=0
bo=bool(num)
print(bo)

False

In [50]:
#Convert float 0.0 into boolean.
num=0.0
bo=bool(num)
print(bo)

False

In [52]:
#Convert string "False" into boolean.
st='false'
bo=bool(st)
print(bo)

True

#ðŸ”¹ SECTION 4: INPUT / OUTPUT (10 Questions)

In [58]:
##Take name from user and print:
# Hello <name>
name = input("Enter name: ")
print(f'Hello {name}')

Enter name: nukhl
Hello nukhl

In [60]:
#Take two numbers from user and print their sum.
a=int(input('enter a number :'))
b=int(input('enter 2 number :'))
print(f'{a+b}')

enter a number :7
enter 2 number :9
16

In [61]:
#Take age as input and print after 5 years age.
age=int(input('enter your age :'))
print(f'age after 5 years : {age+5}')

enter your age :21
age after 5 years : 26

In [64]:
#Take two numbers and print multiplication.
a=int(input('enter the number: '))
b=int(input('enter 2 number: '))
print(f'multiplication is {a*b}')

enter the number: 6
enter 2 number: 6
multiplication is 36

In [65]:
#Take user city and print:
#You live in <city>
city=input('enter you city name: ')
print(f'you live in {city}')

enter you city name: bangalore
you live in bangalore

In [67]:
#Take three numbers and print average.
a=34
b=12
c=19
avg=(a+b+c)/3
print(f'{avg}')

21.666666666666668

In [68]:
#Take integer input and print its square.
num=int(input('enter you number: '))
num1=num*num
print(f'square of the number is {num1}')

enter you number: 2
square of the number is 4

In [70]:
#Take string input and print length.
name=input('enter your name: ')
print(f'you nam elength is {len(name)}')

enter your name: nikhilss
you nam elength is 8

In [71]:
salary =int(input('ente you monthly salary :'))
year=salary*12
print(f'your yearly salary is this {year}')

ente you monthly salary :30000
your yearly salary is this 360000

#ðŸ”¹ SECTION 5: LIST PRACTICE

In [90]:
nums = [10, 20, 30, 40, 50]

In [91]:
#Print first element.
nums[0]

10

In [92]:
#Print last element.
nums[-1]

50

In [93]:
#Add 60 to list
nums.append(60)
print(nums)

[10, 20, 30, 40, 50, 60]

In [94]:
#Insert 15 at index 1.
nums.insert(1,15)
print(nums)

[10, 15, 20, 30, 40, 50, 60]

In [95]:
#Remove 30 from list.
nums.remove(30)
print(nums)

[10, 15, 20, 40, 50, 60]

In [96]:
#Find length of list.
len(nums)

6

In [97]:
#Find sum of elements.
sum(nums)

195

In [98]:
#Check if 40 exists in list.
40 in nums

True

In [100]:
#Reverse the list.
nums[::-1]

[60, 50, 40, 20, 15, 10]

In [101]:
#Print elements using loop.
for i in nums:
  print(i)

10
15
20
40
50
60

#ðŸ”¹ SECTION 6: TUPLE PRACTICE

In [107]:
t = (5, 10, 15, 20, 25)

In [108]:
# Print first element.
t[0]

5

In [109]:
#Print last element.
t[-1]

25

In [110]:
#Find length of tuple.
len(t)

5

In [106]:
#Convert tuple into list.
li=list(t)
print(li)

[5, 10, 15, 20, 25]

In [111]:
#Check if 15 exists.
15 in t

True

In [112]:
#Count how many times 10 appears.
t.count(10)

1

In [113]:
#Find index of 20.
t.index(20)

3

In [115]:
#Slice first three elements.
t[:3]

(5, 10, 15)

In [118]:
#Loop through tuple.
for i in t:
  print(i)

5
10
15
20
25

In [122]:
#Try changing element and observe result.
#t[0]=20   # error
li=list(t)
li.insert(1,200)
t=tuple(li)
print(t)

(5, 200, 10, 15, 20, 25)

#ðŸ”¹ SECTION 7: SET PRACTICE

In [123]:
s = {10, 20, 30, 40}