# SECTION 1: VARIABLES (10 Questions)

In [ ]:
#Create three variables name, age, is_student
#      and assign appropriate values. Print all in one line.
name= 'Nikhil'
age=21
is_student='No'
print(name ,age, is_student)

Nikhil 21 No

In [ ]:
#Swap values of two variables
#    a = 10 and b = 20 without using a third variable.
a=10
b=20
a,b=b,a
print(a,b)

20 10

In [ ]:
#Assign the same value 100 to three variables x, y, z in one line.
x=y=z=100
x,y,z=100,100,100
print(x , y, z)

100 100 100

In [ ]:
from typing_extensions import Concatenate
#Store your first name and last name in separate variables and print full name.
fname='Nikhil'
lname='Patidar'
name=fname+' '+lname
print(name)

namee=" ".join([fname,lname])
print(namee)

name = f"{fname} {lname}"
print(name)

Nikhil Patidar
Nikhil Patidar
Nikhil Patidar

In [ ]:
#Create variable pi with value 3.14 and convert it to integer.
pi=3.14
pi=int(pi)
print(pi)

3

In [ ]:
#Create a variable and delete it. Try printing after deletion.
num=34367
del(num)
print(num)

NameError: name 'num' is not defined

In [ ]:
#Assign integer value to a variable and later change it to string. Print both times.
num=69
nums=str(num)
print(num,nums)

69 69

In [ ]:
#Create variable with name _price and assign 500.
_price=500
print(_price)

500

In [ ]:
#Check whether variable names 1num, num1, _num, num_one are valid.
1num=11
num1=12
_num=13
num_one=14
print(1num,num1,_num,num_one)

SyntaxError: invalid decimal literal (ipython-input-18-3348625935.py, line 2)

In [ ]:
#Store result of (10+5)*2 in a variable and print it.
result=(10+5)*2
print(result)

30

#ðŸ”¹ SECTION 2: DATA TYPES (10 Questions)

In [ ]:
#Identify data type of:
a = 10
b = 10.5
c = "10"
d = True
e = [1,2,3]

print("a:",type(a) )
print("b:",type(b))
print("c:",type(c))
print("d:",type(d))
print("e:",type(e))

a: <class 'int'>
b: <class 'float'>
c: <class 'str'>
d: <class 'bool'>
e: <class 'list'>

In [ ]:
#Create one example of each:
#int, float, string, boolean, list, tuple,set, dictionary

num=23
num1=23.3
num2='23'
num4=True
num5=[1,2,3]
num6=(1,2,3)
num7={1,2,3}
num8={'a':1,'b':2,'c':3}
print(num,num1,num2,num4,num5,num6,num7,num8)

23 23.3 23 True [1, 2, 3] (1, 2, 3) {1, 2, 3} {'a': 1, 'b': 2, 'c': 3}

In [ ]:
#Check type of variable using Python.
print(type(num),type(num1),type(num2),type(num4),type(num5),type(num6),type(num7),type(num8))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'> <class 'list'> <class 'tuple'> <class 'set'> <class 'dict'>

In [ ]:
#Create a variable storing your phone number. Check its datatype.mob
mob_number=7759516572
print(type(mob_number))

<class 'int'>

In [ ]:
#Convert integer 50 into float.
num=50
float(num)

50.0

In [ ]:
#Convert float 99.99 into integer.
num=99.99
int(num)

99

In [ ]:
#Convert string "123" into integer.
num='123'
int(num)

123

In [ ]:
#Convert integer 100 into string.
num=100
str(num)

'100'

In [ ]:
num=89
print(type(num))
nums=float(num)
print(type(nums))

<class 'int'>
<class 'float'>

In [ ]:
#Can "10.5" be converted to int directly? Try.
int(10.5)

10

#ðŸ”¹ SECTION 3: TYPE CASTING (10 Questions)

In [ ]:
#Convert list [1,2,3] into tuple.
li=[1,2,3]
tu=tuple(li)
print(tu)

(1, 2, 3)

In [ ]:
#Convert tuple (10,20,30) into list.
tu=(10,20,30)
li=list(tu)
print(li)

[10, 20, 30]

In [ ]:
#Convert string "python" into list.
st='python'
li=list(st)
print(li)

['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
#Convert list [1,1,2,2,3] into set.
li=[1,1,2,2,3]
se=set(li)
print(se)

{1, 2, 3}

In [ ]:
#Convert set {5,6,7} into list.
se={5,6,7}
li=list(se)
print(li)

[5, 6, 7]

In [ ]:
#Convert integer 65 into float then into string.
num=65
num1=float(num)
num2=str(num1)
print(num,num1,num2)

65 65.0 65.0

In [ ]:
#Convert boolean True into int.
bo=True
num=int(bo)
print(num)

1

In [ ]:
#Convert int 0 into boolean.
num=0
bo=bool(num)
print(bo)

False

In [ ]:
#Convert float 0.0 into boolean.
num=0.0
bo=bool(num)
print(bo)

False

In [ ]:
#Convert string "False" into boolean.
st='false'
bo=bool(st)
print(bo)

True

#ðŸ”¹ SECTION 4: INPUT / OUTPUT (10 Questions)

In [ ]:
##Take name from user and print:
# Hello <name>
name = input("Enter name: ")
print(f'Hello {name}')

Enter name: nukhl
Hello nukhl

In [ ]:
#Take two numbers from user and print their sum.
a=int(input('enter a number :'))
b=int(input('enter 2 number :'))
print(f'{a+b}')

enter a number :7
enter 2 number :9
16

In [ ]:
#Take age as input and print after 5 years age.
age=int(input('enter your age :'))
print(f'age after 5 years : {age+5}')

enter your age :21
age after 5 years : 26

In [ ]:
#Take two numbers and print multiplication.
a=int(input('enter the number: '))
b=int(input('enter 2 number: '))
print(f'multiplication is {a*b}')

enter the number: 6
enter 2 number: 6
multiplication is 36

In [ ]:
#Take user city and print:
#You live in <city>
city=input('enter you city name: ')
print(f'you live in {city}')

enter you city name: bangalore
you live in bangalore

In [ ]:
#Take three numbers and print average.
a=34
b=12
c=19
avg=(a+b+c)/3
print(f'{avg}')

21.666666666666668

In [ ]:
#Take integer input and print its square.
num=int(input('enter you number: '))
num1=num*num
print(f'square of the number is {num1}')

enter you number: 2
square of the number is 4

In [ ]:
#Take string input and print length.
name=input('enter your name: ')
print(f'you nam elength is {len(name)}')

enter your name: nikhilss
you nam elength is 8

In [ ]:
salary =int(input('ente you monthly salary :'))
year=salary*12
print(f'your yearly salary is this {year}')

ente you monthly salary :30000
your yearly salary is this 360000

#ðŸ”¹ SECTION 5: LIST PRACTICE

In [ ]:
nums = [10, 20, 30, 40, 50]

In [ ]:
#Print first element.
nums[0]

10

In [ ]:
#Print last element.
nums[-1]

50

In [ ]:
#Add 60 to list
nums.append(60)
print(nums)

[10, 20, 30, 40, 50, 60]

In [ ]:
#Insert 15 at index 1.
nums.insert(1,15)
print(nums)

[10, 15, 20, 30, 40, 50, 60]

In [ ]:
#Remove 30 from list.
nums.remove(30)
print(nums)

[10, 15, 20, 40, 50, 60]

In [ ]:
#Find length of list.
len(nums)

6

In [ ]:
#Find sum of elements.
sum(nums)

195

In [ ]:
#Check if 40 exists in list.
40 in nums

True

In [ ]:
#Reverse the list.
nums[::-1]

[60, 50, 40, 20, 15, 10]

In [ ]:
#Print elements using loop.
for i in nums:
  print(i)

10
15
20
40
50
60

#ðŸ”¹ SECTION 6: TUPLE PRACTICE

In [ ]:
t = (5, 10, 15, 20, 25)

In [ ]:
# Print first element.
t[0]

5

In [ ]:
#Print last element.
t[-1]

25

In [ ]:
#Find length of tuple.
len(t)

5

In [ ]:
#Convert tuple into list.
li=list(t)
print(li)

[5, 10, 15, 20, 25]

In [ ]:
#Check if 15 exists.
15 in t

True

In [ ]:
#Count how many times 10 appears.
t.count(10)

1

In [ ]:
#Find index of 20.
t.index(20)

3

In [ ]:
#Slice first three elements.
t[:3]

(5, 10, 15)

In [ ]:
#Loop through tuple.
for i in t:
  print(i)

5
10
15
20
25

In [ ]:
#Try changing element and observe result.
#t[0]=20   # error
li=list(t)
li.insert(1,200)
t=tuple(li)
print(t)

(5, 200, 10, 15, 20, 25)

#ðŸ”¹ SECTION 7: SET PRACTICE

In [ ]:
s = {10, 20, 30, 40}

In [ ]:
#Add 50.
s.add(50)
print(s)

{40, 10, 50, 20, 30}

In [ ]:
#Remove 20.
s.remove(20)

In [ ]:
#Check if 30 exists.
30 in s

True

In [ ]:
# Find length.
len(s)

4

In [ ]:
s.add(10)

In [ ]:
print(s)

{40, 10, 50, 30}

In [ ]:
#Convert set into list.
li=list(s)
s=set(li)

In [ ]:
#Clear set.
s.clear()

In [ ]:
s

set()

In [ ]:
#Create another set {30,40,60} and find union.
s = {10, 20, 30, 40}
se= {30,40,60}
s.union (se)

{10, 20, 30, 40, 60}

In [ ]:
#Find intersection.
inter=s.intersection(se)
inter

{30, 40}

In [ ]:
#Find difference.
s-se

{10, 20}

#ðŸ”¹ SECTION 8: DICTIONARY PRACTICE

In [ ]:
student = {"name":"Rahul", "age":22, "course":"Python"}

In [ ]:
# Print all keys.
print(student.keys())

dict_keys(['name', 'age', 'course'])

In [ ]:
#Print all values.
print(student.values())

dict_values(['Rahul', 22, 'Python'])

In [ ]:
#Print value of "name".

print(student["name"])

Rahul

In [ ]:
#Add key "city" with value "Delhi".
student['city']='delhi'

In [ ]:
#Update age to 23.
student['age']=23
student

{'name': 'Rahul', 'age': 23, 'course': 'Python', 'city': 'delhi'}

In [ ]:
#Remove "course".
del student['course']

In [ ]:
#Check if "age" exists.
'age' in student

True

In [ ]:
#Loop through dictionary keys.
for i in student:
  print(i)

name
age
city

In [ ]:
#Loop through values.
for i in student.values():
  print(i)

Rahul
23
delhi

In [ ]:
#Print key-value pairs.
print(student.items())

for key ,value in student.items():
  print(key,value)

dict_items([('name', 'Rahul'), ('age', 23), ('city', 'delhi')])
name Rahul
age 23
city delhi

#ðŸ”¹ SECTION 1: IF / ELSE (Beginner â†’ Strong)

In [ ]:
a = 10
b = 20

In [ ]:
# Check whether a is greater than b.
if a>b :
  print('a is greatest')
else:
  print('a is not greatest')

a is greatest

In [ ]:
#Check whether a number is positive or negative.
if a>=0:
  print('a is positive')
else:
  print('negative')

a is positive

In [ ]:
#Check whether a number is even or odd.
if a%2==0:
  print('even')

even

In [ ]:
#Take age as input and check if person is eligible to vote.
age=int(input('enter your age '))
if age>18:
  print('eligible for vote ')
else:
  print('not eligible')

enter your age 1
not eligible

In [ ]:
#Check whether a number is divisible by 5.
a=int(input('enter a number'))
if a%5==0:
  print('it is divisible by 5 ')
else:
  print('not divisible')

enter a number55
it is divisible by 5

In [ ]:
#Compare two numbers and print the greater one.
if a>b :
  print('a is greatest')
elif b>a:
  print('b is greatest')
else:
  print('both are equal')

a is greatest

In [ ]:
#Check whether a number is zero, positive, or negative.
num=int(input('enter a number'))
if num>0:
   print('Positive')
elif num==0:
  print('zero')
else:
  print('negative')

enter a number0
zero

In [ ]:
#Check whether year is leap year.
year=int(input('enter the year'))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
  print('leap year')
else:
  print('not leap year')

enter the year1900
not leap year

In [ ]:
#Check whether temperature is hot (>30) or normal.
temp=int(input('enter the temprature'))
if temp>30:
  print('temprature is high')
else:
  print('normal')

enter the temprature78
temprature is high

In [ ]:
#Check whether user entered correct password ("python123").
password='python123'
pas=input('enter the password')
if pas==password:
  print('correct password')
else:
  print('please enter right pass')

enter the passwordpython123
correct password

In [ ]:
#Take marks and print grade:
# â‰¥90 â†’ A, â‰¥75 â†’ B, â‰¥60 â†’ C, Else â†’ Fail
marks=int(input('enter your  marks '))
if marks >=90:
  print('A')
elif marks>=75 :
  print('B')
elif marks>=60:
  print('C')
else:
  print('Fail')

enter your  marks 12
Fail

In [ ]:
#Take a number and check:
# divisible by 3, divisible by 5, divisible by both else none

num=int(input('enter the numer '))
if num%3==0 and num%5==0:
  print('divisible by both')
elif num%5==0:
  print('Divisible by 5')
elif num%3==0 :
  print('divisible by 3')
else:
  print('None')

enter the numer 9
divisible by 3

In [ ]:
# Take age and classify:
# child (<13), teenager (13â€“19), adult (20â€“59), senior (60+)
age=int(input('enter your age'))
if age<13:
  print('child')
elif age>=13 and age<=19:
     print('teenager')
elif age>=20 and age<=59:
  print('adult')
else :
  print('senior')

enter your age99
senior

In [ ]:
#Take salary and decide tax slab.

salary = int(input("Enter salary: "))
if salary <= 250000:
    print("No Tax")
elif salary <= 500000:
    print("5% Tax")
elif salary <= 1000000:
    print("20% Tax")
else:
    print("30% Tax")

Enter salary: 768676895
30% Tax

In [ ]:
# Take input day number (1â€“7) and print weekday.:
day=int(input('enter the day number between  1-7 : ' ))
if day==1:
  print('Monday')
elif day==2:
  print('Tuseday')
elif day==3:
  print('Wednesday')
elif day==4:
  print('Thursday')
elif day==5:
  print('Friday')
elif day==6:
  print('Saturday')
elif day==7:
  print('Sunday')
else:
  print('invalid input')

enter the day number between  1-7 : 8
invalid input

In [ ]:
#Take number and check:
# single digit, double digit, more than two digits
num=input('enter th enumber: ')
if len(num)==1:
  print('single digit')
elif len(num)==2:
  print('double digit')
else:
  print('more than two digit')

enter th enumber: 0
single digit

In [ ]:
# Take three numbers and print largest.
num1=int(input('enter first number: '))
num2=int(input('enter second number: '))
num3=int(input('enter third number: '))
if num1>num2 and num1>num3:
  print(f'num1 is greater {num1}')
elif num2>num1 and num2>num3:
  print(f'num2 is greater {num2}')
elif num3>num1 and num3>num2:
  print(f'num3 is greater {num3}')
else:
  print('all are equal')

enter first number: 22
enter second number: 21
enter third number: 23
num3 is greater 23

In [ ]:
# Take percentage and print result (Pass / Fail / Distinction).
percent=float(input('enter your percentage : '))
if percent < 0 or percent > 100:
    print("Invalid percentage")
elif percent >= 75:
    print("Distinction")
elif percent >= 40:
    print("Pass")
else:
    print("Fail")

enter your percentage : 787
Invalid percentage

In [ ]:
#Take electricity units and calculate bill slab-wise.

units =int(input('enter electricity units: '))

if units<=100:
  bill=units*2
elif units<=200:
  bill=(100*2)+(units-100)*3
else:
    bill = (100 * 2) + (100 * 3) + (units - 200) * 5

print("Total Bill:", bill)

enter electricity units: 500
Total Bill: 2000

In [ ]:
#Take year and print century.
year=int(input('enter your year: '))
century = (year + 99) // 100
print(f'century is {century}')

enter your year: 2024
century is 21

#ðŸ”¹ SECTION 3: FOR LOOP (Core Logic Builder)

In [ ]:
nums = [10, 20, 30, 40, 50]

In [ ]:
#Print all elements using for loop.
for i in nums:
  print(i)

10
20
30
40
50

In [ ]:
#Print each element multiplied by 2.
for i in  nums:
  print(f'{i} multiply by 2 {i*2}')

10 multiply by 2 20
20 multiply by 2 40
30 multiply by 2 60
40 multiply by 2 80
50 multiply by 2 100

In [ ]:
result=[]
for i in nums:
  result.append(i*2)
print(result)

[20, 40, 60, 80, 100]

In [ ]:
 #Print only even numbers.
 for i in nums:
   if i%2==0:
     print(i)

10
20
30
40
50

In [ ]:
result=[]
for i in nums:
  if i%2==0:
    result.append(i)
print(result)

[10, 20, 30, 40, 50]

In [ ]:
#Print sum of elements.
total=0
for i in nums:
  total+=i
print(total)

150

In [ ]:
# Count number of elements.
count=0
for i in nums:
  count+=1
print(count)

5

In [ ]:
#Print numbers from 1 to 10.
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Print numbers from 10 to 1.

for i in range(10,0,-1):
     print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
# Print square of numbers from 1 to 5.
for i in range(1,6):
  print(i*i)

1
4
9
16
25

In [ ]:
#Print table of 5.
for i in range(1,11):
  print(i*5)

5
10
15
20
25
30
35
40
45
50

In [ ]:
#Print characters of string "Python".
for i in "python":
  print(i)

p
y
t
h
o
n

#ðŸ”¹ SECTION 4: FOR LOOP (Interview Level)

#*****

In [ ]:
# Find maximum number in list.
max_n=nums[0]
for i in nums:
  if i>max_n:
    max_n=i
print(max_n)
print(min(nums))
print(max(nums))

50
10
50

In [ ]:
#Find minimum number in list.
min_n=nums[0]
for i in nums:
  if i<min_n:
    min_n=i
print(min_n)

10

In [ ]:
#Count how many elements are greater than 25.
count=0
for i in nums:
  if i >25:
    count+=1

print(count)

3

In [ ]:
#Find factorial of a number.
import math
math.factorial(5)

120

In [ ]:
n=int(input('enter number of tearmms:'))
f=1
for i in range(1,n+1):
  f=f*i
print(f)

enter number of tearmms:7
5040

In [ ]:
#Print Fibonacci series up to n terms.
n=int(input('enter number of tearmms:'))
a=0
b=1
print('Fibonachi Serie')
for i in range(n):
  print(a,end=" ")
  c=a+b
  a=b
  b=c

enter number of tearmms:7
Fibonachi Serie
0 1 1 2 3 5 8

In [ ]:
#Reverse a string using loop.
s='python'
rev=''
for i in s:
  rev=i+rev
print(rev)

nohtyp

In [ ]:
#Count vowels in a string.
s=input('enter strings for count vovel:: ')
count=0
for i in s:
  if i in 'aeiouAEIOU':
     count+=1
print(count)

enter strings for count vovelnitu
2

In [ ]:
#Check whether number is prime.
num=int(input('check nu ber is prime or not: '))
if num<=1:
  print('enter greater than 1')
else:
  for i in range(2,num):
    if num %i ==0:
      print('NOt prime')
      break
  else:
    print('prime')

check nu ber is prime or not: 3
prime

In [ ]:
#Find sum of digits of a number.
n=input('enter numver')
sum=0
for i in n :
  sum=sum+int(i)
print(sum)

enter numver897654321
45

In [ ]:
#Check whether number is palindrome.
n = int(input("Enter number: "))
temp=n
rev=0

for i in range(len(str(n))):
      digit=n%10
      rev = rev *10+digit
      n=n//10
if  temp==rev:
    print("Palindrome Number")
else:
    print("Not Palindrome Number")

Enter number: 121
Palindrome Number

In [ ]:
n = int(input("Enter number: "))

temp=n
rev=0
for i in range(len(n)):

In [ ]:
def find_primes(limit):
    primes = []
    sieve = [True] * (limit + 1)
    for p in range(2, limit + 1):
        if sieve[p]:
            primes.append(p)
            for i in range(p * p, limit + 1, p):
                sieve[i] = False
    return primes

# Example: Find all primes up to 50
print(find_primes(50))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
def generate_fibonacci(n):
    fib_series = []
    a, b = 0, 1
    for _ in range(n):
        fib_series.append(a)
        a, b = b, a + b
    return fib_series

# Example: Generate first 10 terms
terms = 10
print(f"First {terms} terms of Fibonacci series: {generate_fibonacci(terms)}")

First 10 terms of Fibonacci series: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
import re

def clean_text(text):
    # 1. Convert to lowercase
    text = text.lower()

    # 2. Remove HTML tags
    text = re.sub(r'<.*?>', '', text)

    # 3. Remove URLs
    text = re.sub(r'http\S+|www\S+|https\S+', '', text, flags=re.MULTILINE)

    # 4. Remove special characters and numbers (keeping only letters and spaces)
    text = re.sub(r'[^a-zA-Z\s]', '', text)

    # 5. Remove extra whitespace/newlines
    text = re.sub(r'\s+', ' ', text).strip()

    return text

# Example usage:
raw_data = "  Check out our website! <html><body>Go to https://google.com </body></html>... It's AMAZING #Python 123!!  "
cleaned_data = clean_text(raw_data)

print(f"Original: '{raw_data}'")
print(f"Cleaned : '{cleaned_data}'")

Original: '  Check out our website! <html><body>Go to https://google.com </body></html>... It's AMAZING #Python 123!!  '
Cleaned : 'check out our website go to its amazing python'

### Function to Sum Any Number of Inputs

Using `*args` allows the function to accept any number of positional arguments.

In [ ]:
def sum_anything(*args):
    return sum(args)

# Example usage:
print(f"Sum of 5, 10, 15: {sum_anything(5, 10, 15)}")
print(f"Sum of 1, 2, 3, 4, 5, 6, 7, 8, 9, 10: {sum_anything(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)}")

Sum of 5, 10, 15: 30
Sum of 1, 2, 3, 4, 5, 6, 7, 8, 9, 10: 55

### Creating Age Groups in a DataFrame

We can use a custom function with `.apply()` to categorize numerical data into specific text groups.

In [ ]:
import pandas as pd

# 1. Create a sample DataFrame
data = {'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'age': [10, 15, 20, 25, 5]}
df = pd.DataFrame(data)

# 2. Define the logic
def categorize_age(age):
    if 1 <= age <= 13:
        return 'teenager'
    elif 13 < age <= 20:
        return 'adult'
    else:
        return 'old'

# 3. Apply the function to create the new column
df['age_group_name'] = df['age'].apply(categorize_age)

display(df)

      name  age age_group_name
0    Alice   10       teenager
1      Bob   15          adult
2  Charlie   20          adult
3    David   25            old
4      Eve    5       teenager

#SECTION 5: WHILE LOOP (Logic + Control)

In [1]:
#Print numbers from 1 to 10 using while.
i=1
while i<=10:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

In [4]:
#Print numbers from 10 to 1.
i=10
while i>=1:
  print(i)
  i-=1

10
9
8
7
6
5
4
3
2
1

In [6]:
#Print even numbers till 20.
i=2
while i<20:
  print(i)
  i+=2

2
4
6
8
10
12
14
16
18

In [10]:
#Print table of 7.
i=1
while i<=10:
  print(i*7)
  i+=1

7
14
21
28
35
42
49
56
63
70

In [13]:
#Find sum of numbers from 1 to n.
n=int(input('enter the numbers : '))
sum=0
i=1
while i<=n:
  sum+=i
  i+=1
print(sum)

enter the numbers : 4
10

In [15]:
#Reverse a number.
n=int(input('enter a number : '))
re=0
while n>0:
  re=re*10+n%10
  n//=10
print(re)

enter a number : 656
656

In [16]:
#Count digits in a number.
n=int(input('enter a numevr :'))
count=0
while n>0:
  count+=1
  n//=10
print(count)

enter a numevr :3456789
7

In [17]:
#Find factorial using while.
n=int(input('enter the nmber : '))
f=1
while n>0:
  f*=n
  n-=1
print(f)

enter the nmber : 7
5040

In [23]:
while True:
    n = int(input("Enter number until 0: "))
    if n == 0:
        break
    print(n)

Enter number until 0: 9
9
Enter number until 0: 2
2
Enter number until 0: 3
3
Enter number until 0: 2
2
Enter number until 0: 1
1
Enter number until 0: 0

In [25]:
#Print Fibonacci using while.
n = int(input("Enter number of terms: "))
a,b=0,1
i=0
while i<n:
  print(a)
  a,b=b,a+b
  i+=1

Enter number of terms: 8
0
1
1
2
3
5
8
13

#SECTION 6: BREAK (Control Flow Mastery)

In [30]:
#Loop from 1 to 10 and stop when number is 5.
for i in range(1,11):
  if i==5:
    break;
  print(i)

1
2
3
4

In [33]:
#Search a number in list and stop once found.
li=[10,20,30,40,50,60,70]
target=int(input('enter the number : '))
for x in li:
  if x==target:
    print('Found')
    break
else:
    print('NOt found')

enter the number : 10
Found

In [ ]:
# Take user input continuously and stop if input is "exit".